<%= form_for @proj do |f| %>
	<% if @proj.errors.any? %>
		<ul>
		<% @proj.errors.full_messages.each do |message| %>
			<li class='rederror'><%= message %></li>
		<% end %>
		</ul>
	<% end %>
	<div><%= f.label :title, "Project's title" %>
	<br>
	<%= f.text_field :title%>
	</div>
	<br>
	<div>
	<%= f.label :description, "Project's description" %>
	<br>
	<%= f.text_area :description  %>
	</div>
	<br>
	<%= hidden_field_tag "project[category_ids][]",nil %>
	<% Category.all.each do |cat| %>
		<%= check_box_tag "project[category_ids][]",cat.id, @proj.categories.include?(cat),id: dom_id(cat) %>
		<%= label_tag dom_id(cat), cat.name %>
	<% end %>
	<% if !@proj.persisted? %>
	<div>
	<%= f.check_box("terms",{}, "does", "no")  %>
	<%= f.label :accept, "Accept or vanquish" %>
	</div>
	<% end %>
	<%= f.submit "Save" %>

<% end %>