<h1>Projects</h1>
<h2>Projects by Hit Count</h2>
<table>
	<th>Title</th>
	<th>Description</th>
	<th>Count of Likes</th>
	<th>Hits</th>
	<% @projects.each do |project| %>
	<tr>
	<td> <%= link_to project.title, project %> </td>
	<td> <%= project.description %></td>
	<td> <%= project.like %></td>
	<td> <%= project.hits %></td>
	<td><%= link_to "Edit",edit_project_path(project),class: 'btn btn-default' %></td>
	<td><%= link_to "Remove",project_path(project), method: 'delete',confirm: "Are you sure you want to remove project "+(project.id).to_s+"?",class: 'btn btn-default' %></td>
	<td><%= link_to "Like",project_path(project),class: 'btn btn-default', method:'post' %></td>
	</tr>
	<% end %>
</table>
<h2> Three most Recent Projects</h2>
<table>
	<th>Title</th>
	<th>Description</th>
	<th>Count of Likes</th>
	<th>Hits</th>
	<% @recent_projs.each do |project| %>
	<tr>
	<td> <%= link_to project.title, project %> </td>
	<td> <%= project.description %></td>
	<td> <%= project.like %></td>
	<td> <%= project.hits %></td>
	<td><%= link_to "Edit",edit_project_path(project),class: 'btn btn-default' %></td>
	<td><%= link_to "Remove",project_path(project), method: 'delete',confirm: "Are you sure you want to remove project "+(project.id).to_s+"?",class: 'btn btn-default' %></td>
	<td><%= link_to "Like",project_path(project),class: 'btn btn-default', method:'post' %></td>
	</tr>
	<% end %>
</table>
<%= link_to "New",new_project_path,class: 'btn btn-default' %>
<%= link_to "Discussions",discussions_path,class: 'btn btn-default' %>
